@using System.Collections
@using Kendo.Mvc.UI
@model ExceedERP.Core.Domain.Manufacturing.ProductionFollowUp.FurnitureJob
@using ExceedERP.Helpers.Common
@using ExceedERP.Core.Domain.Manufacturing.ProductionFollowUp

<div class="form">

    @*<div class="row">

        <div class="col-sm-1">
            @(Html.HiddenFor(model => model.JobId))
        </div>*@
    
       
        <div class="container demo" id="popupContainerStyle">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                Job Details
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.JobNo, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().TextBoxFor(model => model.JobNo))
                                            @Html.ValidationMessageFor(model => model.JobNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.JT, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().DropDownTreeFor(model => model.JT)

                                                                                                                                                                        .ValuePrimitive(true)
                                                                                                                                                                        .Placeholder("--select--")
                                                                                                                                                                        .Events(ev => ev.Change("onSelectLoading").Change("onChange"))
                                                                                                                                                                        
                                                                                                                                                                        .BindTo((IEnumerable<DropDownTreeItemModel>)ViewBag.data))

                                            @Html.ValidationMessageFor(model => model.JT, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Pages, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().TextBoxFor(model => model.Pages)
                                            )
                                            @Html.ValidationMessageFor(model => model.Pages, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Copies, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().TextBoxFor(model => model.Copies)
                                            )
                                            @Html.ValidationMessageFor(model => model.Copies, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().NumericTextBoxFor(model => model.Quantity).Name("Quantity")
                                                                                                                                                                                                                         .Events(e =>
                                                                                                                                                                                                                         {
                                                                                                                                                                                                                             e.Change("onChangeQuan");
                                                                                                                                                                                                                         })
                                            )
                                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().NumericTextBoxFor(model => model.UnitPrice)
                                                                                                                                                                                                                        .Events(e =>
                                                                                                                                                                                                                            {
                                                                                                                                                                                                                                e.Change("onChangeQuan");
                                                                                                                                                                                                                            })
                                            )
                                            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BeforeTax, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().TextBoxFor(model => model.BeforeTax).HtmlAttributes(new { style = "color:red;", @readonly = "readonly" })
                                            )
                                            @Html.ValidationMessageFor(model => model.BeforeTax, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TotalPrice, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().TextBoxFor(model => model.TotalPrice).HtmlAttributes(new { style = "color:red;", @readonly = "readonly" })
                                            )
                                            @Html.ValidationMessageFor(model => model.TotalPrice, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TextWeight, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().TextBoxFor(model => model.TextWeight)
                                            )
                                            @Html.ValidationMessageFor(model => model.TextWeight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CoverWeight, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().TextBoxFor(model => model.CoverWeight)
                                            )
                                            @Html.ValidationMessageFor(model => model.CoverWeight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ColorText, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().TextBoxFor(model => model.ColorText)
                                            )
                                            @Html.ValidationMessageFor(model => model.ColorText, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Colorcover, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().TextBoxFor(model => model.Colorcover)
                                            )
                                            @Html.ValidationMessageFor(model => model.Colorcover, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FinishingSize, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().TextBoxFor(model => model.FinishingSize)
                                            )
                                            @Html.ValidationMessageFor(model => model.FinishingSize, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PrintingMachine, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().TextBoxFor(model => model.PrintingMachine)
                                            )
                                            @Html.ValidationMessageFor(model => model.PrintingMachine, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TotalImpression, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div>

                                            @(Html.Kendo().TextBoxFor(model => model.TotalImpression)
                                            )
                                            @Html.ValidationMessageFor(model => model.TotalImpression, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MachineId, htmlAttributes: new { @class = "control-label col-sm-8" })

                                        <div id="Mega">

                                            @(Html.Kendo().DropDownListFor(model => model.MachineId)
                                                                                                                                                                        .ValuePrimitive(true)
                                                                                                                                                                        .OptionLabel("Select Machines...")
                                                                                                                                                                        .DataTextField("Name")
                                                                                                                                                                        .DataValueField("Code")
                                                                                                                                                                        .Filter("contains")
                                                                                                                                                                        .DataSource(dataSource =>
                                                                                                                                                                        {
                                                                                                                                                                            dataSource.Read(read => read.Action("GetAllFixedAssets", "ProductionDataProvider", new { area = "ProductionFollowUp" }))
                                                                                                                                                                            .ServerFiltering(false);
                                                                                                                                                                        }))
                                            @Html.ValidationMessageFor(model => model.MachineId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                Type
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">

                            <div class="row fullrow">

                                <div class="col-sm-2 ro1">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Sewing, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div class="col-sm-6">

                                            @(Html.Kendo().CheckBoxFor(model => model.Sewing)
                                            )
                                            @Html.ValidationMessageFor(model => model.Sewing, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.New, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div class="col-sm-6">

                                            @(Html.Kendo().CheckBoxFor(model => model.New)
                                            )
                                            @Html.ValidationMessageFor(model => model.New, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PerfectBinding, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div class="col-sm-6">

                                            @(Html.Kendo().CheckBoxFor(model => model.PerfectBinding)
                                            )
                                            @Html.ValidationMessageFor(model => model.PerfectBinding, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Repeat, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div class="col-sm-6">

                                            @(Html.Kendo().CheckBoxFor(model => model.Repeat)
                                            )
                                            @Html.ValidationMessageFor(model => model.Repeat, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-2 ro1">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Lamnating, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div class="col-sm-6">

                                            @(Html.Kendo().CheckBoxFor(model => model.Lamnating)
                                            )
                                            @Html.ValidationMessageFor(model => model.Lamnating, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Varnish, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div class="col-sm-6">

                                            @(Html.Kendo().CheckBoxFor(model => model.Varnish)
                                            )
                                            @Html.ValidationMessageFor(model => model.Varnish, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Perforate, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div class="col-sm-6">

                                            @(Html.Kendo().CheckBoxFor(model => model.Perforate)
                                            )
                                            @Html.ValidationMessageFor(model => model.Perforate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Camsur, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div class="col-sm-6">

                                            @(Html.Kendo().CheckBoxFor(model => model.Camsur)
                                            )
                                            @Html.ValidationMessageFor(model => model.Camsur, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                               
                                <div class="col-sm-2 ro1">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeliveryDate, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div class="col-sm-6">

                                            @(Html.Kendo().DatePickerFor(model => model.DeliveryDate)
                                            )
                                            @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.GraphicDesignExpectedCompletetion, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div class="col-sm-6">

                                            @(Html.Kendo().DatePickerFor(model => model.GraphicDesignExpectedCompletetion)
                                            )
                                            @Html.ValidationMessageFor(model => model.GraphicDesignExpectedCompletetion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                </div>

                                <div class="col-sm-2 ro1">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PrintingExpectedCompletetion, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div class="col-sm-6">

                                            @(Html.Kendo().DatePickerFor(model => model.PrintingExpectedCompletetion)
                                            )
                                            @Html.ValidationMessageFor(model => model.PrintingExpectedCompletetion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FinishExpectedCompletetion, htmlAttributes: new { @class = "control-label col-sm-8" })
                                        <div class="col-sm-6">

                                            @(Html.Kendo().DatePickerFor(model => model.FinishExpectedCompletetion)
                                            )
                                            @Html.ValidationMessageFor(model => model.FinishExpectedCompletetion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </div><!-- panel-group -->


        </div><!-- container -->
    </div>








    <style>
        #popupContainerStyle {
            width: 850px;
            padding: 10px;
        }
    </style>



    <style>

        /*******************************
        * Does not work properly if "in" is added after "collapse".
        * Get free snippets on bootpen.com
        *******************************/
        .panel-group .panel {
            border-radius: 0;
            box-shadow: none;
            border-color: #EEEEEE;
        }

        .panel-default > .panel-heading {
            padding: 0;
            border-radius: 0;
            color: #212121;
            background-color: #FAFAFA;
            border-color: #EEEEEE;
        }

        .panel-title {
            font-size: 14px;
        }

            .panel-title > a {
                display: block;
                padding: 15px;
                text-decoration: none;
            }

        .more-less {
            float: right;
            color: #212121;
        }

        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #EEEEEE;
        }

        /* ----- v CAN BE DELETED v ----- */
        body {
            background-color: #26a69a;
        }

        .demo {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    </style>



    <script>

        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('glyphicon-plus glyphicon-minus');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);

    </script>




