@model ExceedERP.Core.Domain.Manufacturing.FurnitureEstimation.FurnitureEstimationForm

<form id="lineForm" method="post">

    <div class="row">
        <div class="col-sm-1">
            <div class="k-label">
                @Html.HiddenFor(model => model.FurnitureEstimationId)
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.JobTypeId, htmlAttributes: new { @class = "control-label col-sm-8" })
                <div>
                    @(Html.Kendo().DropDownListFor(model => model.JobTypeId)
                            .ValuePrimitive(true)
                            .OptionLabel("Select Job Title...")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Filter("contains")
                            .DataSource(dataSource =>
                            {
                                dataSource.Read(read => read.Action("GetFurnitureJobCategory", "ManufacturingDataProvider", new { area = "Manufacturing" }).Data("filterJobType"))
                                    .ServerFiltering(true);
                            }).HtmlAttributes(new { style = "width:100%" }))

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="k-label">
                    <label for="Customer">Customer</label>
                </div>
                <div>
                    @(Html.Kendo().DropDownListFor(model => model.CustomerId)
                                                                        .Name("CustomerId")
                                                                        .ValuePrimitive(true)
                                                                        .OptionLabel("Select Customer...")
                                                                        .DataTextField("Name")
                                                                        .DataValueField("Code")
                                                                        .Filter("contains")
                                                                        .DataSource(dataSource =>
                                                                        {
                                                                            dataSource.Read(read => read.Action("GetAllCustomers", "EstimationForm", new { area = "Printing"}))
                                                                                .ServerFiltering(false);
                                                                        }))
                </div>
            </div>
        </div>

        
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="k-label">
                    <label for="Quantity">Quantity</label>
                </div>
                <div>
                    @(Html.Kendo().TextBoxFor(model => model.Quantity))
                </div>
            </div>
        </div>
    </div>
   
</form>

