@model ExceedERP.Core.Domain.Printing.PrintingEstimationLaborCost

<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Process Category</label>
            <div>
                @(Html.Kendo().DropDownListFor(model => model.ProcessCategory)
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Events(e =>
                                        {
                                            e.Change("showMachineType");
                                            e.DataBound("showMachineType");
                                        })
                                        .BindTo(ExceedERP.Helpers.Common.EnumExtension.EnumToSelectList(typeof(ExceedERP.Core.Domain.Printing.PrintingProcessCategory))
                                        )
                                    .HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Printing Process</label>
            <div>
                @(Html.Kendo().DropDownListFor(model => model.PrintingProcessId)
                                   .ValuePrimitive(true)
                                   .OptionLabel("Select Item...")
                                   .DataTextField("Text")
                                   .DataValueField("Value")
                                   .Filter("contains")
                                   .CascadeFrom("ProcessCategory")
                                   .DataSource(dataSource =>
                                   {
                                       dataSource.Read(read => read.Action("GetPrintingProcess", "PrintDataProvider", new { area = "Printing" }).Data("filterProcess"))
                                           .ServerFiltering(true);
                                   }).HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>
    </div>
    <div class="col-sm-2 machine-type">
        <div class="form-group">
            <label>Machine Type</label>
            <div>
                @(Html.Kendo().DropDownListFor(model => model.PrintingMachineTypeId)
                                   .ValuePrimitive(true)
                                   .OptionLabel("Select Item...")
                                   .DataTextField("Text")
                                   .DataValueField("Value")
                                   .Filter("contains")
                                  
                                   .DataSource(dataSource =>
                                   {
                                       dataSource.Read(read => read.Action("PrintMachineType", "PrintDataProvider", new { area = "Printing" }))
                                           .ServerFiltering(false);
                                   }).HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Estimated Hour</label>
            <div>
                @(Html.Kendo().NumericTextBoxFor(model => model.EstimatedHours).HtmlAttributes(new { style = "width:100%" }))

            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Labor Rate</label>
            <div>
                @(Html.Kendo().NumericTextBoxFor(model => model.LaborRate).HtmlAttributes(new { style = "width:100%" }))

            </div>
        </div>
    </div>
    @*<div class="col-sm-2">
        <div class="form-group">
            <label>Total Cost</label>
            <div>
                @(Html.Kendo().NumericTextBoxFor(model => model.TotalCost).HtmlAttributes(new { style = "width:100%" }))

            </div>
        </div>
    </div>*@
</div>