@using ExceedERP.Core.Domain.printing.JobCosting
@if (HttpContext.Current.User.IsInRole(JobCostingRoles.JobCostingAdmin)
             || HttpContext.Current.User.IsInRole(JobCostingRoles.JobCostingDailyLaborRateUser)
             || HttpContext.Current.User.IsInRole(JobCostingRoles.JobCostingIdleTimeUser)
             || HttpContext.Current.User.IsInRole(JobCostingRoles.JobCostingJobCostUser))
{
<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-lastfm-square"></i>
        Job Costing
        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                Operation
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                @if (HttpContext.Current.User.IsInRole(JobCostingRoles.JobCostingJobCostUser))
                {
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Job Cost
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li id="JobCosting00100100871" class="actionlinlk">
                            @Html.ActionLink("Job Cost", "Index", "JobCost", new { area = "JobCosting" }, null)<b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                }
                @if (HttpContext.Current.User.IsInRole(JobCostingRoles.JobCostingIdleTimeUser))
                {
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Idle Time
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li id="JobCosting00100100871" class="actionlinlk">
                            @Html.ActionLink("Idle Time", "Index", "IdleTime", new { area = "JobCosting" }, null)<b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                }
                @if (HttpContext.Current.User.IsInRole(JobCostingRoles.JobCostingDailyLaborRateUser))
                {
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        DLR
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">

                        <li id="JobCosting00100100871" class="actionlinlk">
                            @Html.ActionLink("Daily Labor Rate", "Index", "DailyLaborRate", new { area = "JobCosting" }, null)<b class="arrow"></b>
                        </li>

                    </ul>
                </li>
                }
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                Report
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li id="JobCosting00100100831" class="actionlinlk">
                    @Html.ActionLink("Job Order Card", "GetJobOrderCard", "JobCostingReport", new { area = "JobCosting" }, null)<b class="arrow"></b>
                </li>
            </ul>
        </li>

        
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                Settings
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">

                @if (HttpContext.Current.User.IsInRole(JobCostingRoles.JobCostingAdmin)||
                    HttpContext.Current.User.IsInRole(JobCostingRoles.JobCostingJobCostUser))
                {

                <li id="JobCosting00100100871" class="actionlinlk">
                    @Html.ActionLink("Idle Time Setup", "Index", "IdleTimeCategory", new { area = "JobCosting" }, null)<b class="arrow"></b>
                </li>

                <li id="JobCosting00100100871" class="actionlinlk">
                    @Html.ActionLink("Yearly Overhead Rate", "Index", "YearlyOverHeadRate", new { area = "JobCosting" }, null)<b class="arrow"></b>
                </li>
                <li id="JobCosting00100100871" class="actionlinlk">
                    @Html.ActionLink("Pension", "Index", "JcPension", new { area = "JobCosting" }, null)<b class="arrow"></b>
                </li>
                 }

            </ul>
        </li>
    </ul>
</li>

 } 