@using System.Collections
@using Kendo.Mvc.UI
@model ExceedERP.Core.Domain.Printing.ProductionFollowUp.Job 

@*<div class="form">

    <div class="row fullrow">
        <div class="col-md-2 ro1">
            <div class="form-group">
                @Html.LabelFor(model => model.ProformaId, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-6">

                    @(Html.Kendo().TextBoxFor(model => model.ProformaId)
                    )
                    @Html.ValidationMessageFor(model => model.ProformaId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.JobId, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-6">

                    @(Html.Kendo().TextBoxFor(model => model.JobId)
                    )
                    @Html.ValidationMessageFor(model => model.JobId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-6">

                    @(Html.Kendo().TextBoxFor(model => model.CustomerName)
                    )
                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-2 ro1">
            <div class="form-group">
                @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-6">

                    @(Html.Kendo().TextBoxFor(model => model.ContactName)
                    )
                    @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-6">

                    @(Html.Kendo().TextBoxFor(model => model.ContactName)
                    )
                    @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ContactPhone, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-6">

                    @(Html.Kendo().TextBoxFor(model => model.ContactPhone)
                    )
                    @Html.ValidationMessageFor(model => model.ContactPhone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-2 ro1">
            <div class="form-group">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-6">

                    @(Html.Kendo().TextBoxFor(model => model.City)
                    )
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SubCity, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-6">

                    @(Html.Kendo().TextBoxFor(model => model.SubCity)
                    )
                    @Html.ValidationMessageFor(model => model.SubCity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Woreda, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-6">

                    @(Html.Kendo().TextBoxFor(model => model.Woreda)
                    )
                    @Html.ValidationMessageFor(model => model.Woreda, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-md-2 ro1">


            <div class="form-group">
                @Html.LabelFor(model => model.POBox, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-6">

                    @(Html.Kendo().TextBoxFor(model => model.POBox)
                    )
                    @Html.ValidationMessageFor(model => model.POBox, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>


</div>*@



