@model ExceedERP.Core.Domain.Manufacturing.JobCosting.FurnitureJobLaborCost

<form id="lineForm" method="post">


    <div class="row">
        <div class="col-sm-1">
            <div class="k-label">
                @Html.HiddenFor(model => model.FurnitureJobLaborCostId)
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="k-label">
                    <label for="GlFiscalYearId">Fiscal Year</label>
                </div>
                <div>
                    @(Html.Kendo().DropDownListFor(model => model.GlFiscalYearId)
                                                                                .Name("GlFiscalYearId")
                                                                                .ValuePrimitive(true)
                                                                                .OptionLabel("---Years---")
                                                                                .DataTextField("Name")
                                                                                .DataValueField("GlFiscalYearId")
                                                                                .Filter("contains")
                                                                                .DataSource(dataSource =>
                                                                                {
                                                                                    dataSource.Read(read => read.Action("GetAllFiscalYears", "JobCostingDataProvider"))
                                                                                    .ServerFiltering(false);
                                                                                }))
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="k-label">
                    <label for="GLPeriodId">Month</label>
                </div>
                <div>
                    @(Html.Kendo().DropDownListFor(model => model.GLPeriodId)
                                        .Name("GLPeriodId")
                                        .ValuePrimitive(true)
                                        .OptionLabel("--Months--")
                                        .DataTextField("Name")
                                        .DataValueField("GLPeriodId")
                                        .CascadeFrom("GlFiscalYearId")
                                        .DataSource(dataSource =>
                                        {
                                            dataSource.Read(read => read.Action("GetAllPeriods", "JobCostingDataProvider")
                                            .Data("filterPeriods"))

                                            .ServerFiltering(true);
                                        })
                                        .AutoBind(false)
                                        .Enable(false)

                                        )
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">

        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <div class="k-label">
                    <label for="CostCenterId">Cost Center</label>
                </div>
                <div>
                    @(Html.Kendo().DropDownListFor(model => model.CostCenter)
                                                                                        .ValuePrimitive(true)
                                                                                        .OptionLabel("---Cost centers---")
                                                                                        .DataTextField("Values")
                                                                                        .DataValueField("Values")
                                                                                        .Filter("contains")
                                                                                        .DataSource(dataSource =>
                                                                                        {
                                                                                            dataSource.Read(read => read.Action("GetAllCostCenters", "JobCost"))
                                                                                            .ServerFiltering(false);
                                                                                        }))
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="k-label">
                    <label for="Reference">Reference</label>
                </div>
                <div>
                    @(Html.Kendo().TextBoxFor(model => model.Reference))
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="k-label">
                    <label for="PermanetNormalHour">Permanet Direct Material</label>
                </div>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(model => model.PermanetNormalHour).Decimals(3).RestrictDecimals(true))
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="k-label">
                    <label for="PermanetOTHour">Permanet OT Hour</label>
                </div>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(model => model.PermanetOTHour).Decimals(3).RestrictDecimals(true))

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="k-label">
                    <label for="ContractNormalHour">Contract Normal Hour</label>
                </div>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(model => model.ContractNormalHour).Decimals(3).RestrictDecimals(true))

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="k-label">
                    <label for="ContractOTHour">Contract OT Hour</label>
                </div>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(model => model.ContractOTHour).Decimals(3).RestrictDecimals(true))

                </div>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="k-label">
                    <label for="Beginning">Beginning</label>
                </div>
                <div>
                    @(Html.Kendo().CheckBoxFor(model => model.Beginning))

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="k-label">
                    <label for="BeginningHour">Beginning Hour</label>
                </div>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(model => model.BeginningHour))

                </div>
            </div>
        </div>    
    </div>

</form>


